@charset "utf-8";
/* CSS Document */

body{
	font-family: calibri "Courier New", Courier, monospace;	
}
.total{
	text-align:center;
}
.center{
	max-width:50%;
	min-width:20%;
	width:200px;
	margin:0 auto;
	border-radius:1em;
	border:#00F solid 1px;
	padding:1em;
	margin-top: 2em;
}
#cmbDepart,#cmbGroupeS{
	width:50%;
}
.structure{
	background-color: #960;
	color: #003;	/*#F00*/
	font-weight: bold;	
}
.suggestion{
	background-color:#CCC;
	color:#300;	
}
tr.sugg{
	border-bottom: 1px solid #900;	
}